:root{
    --main-color:rgb(234, 238, 242);
    --dark-color:#205375;
    --font-color:#000;
    --dark-font:#fff;
    --p-color:#31312f;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--main-color);
    font-family: 'DM Sans', sans-serif;
    transition: all 1s ease-in-out;
}
.dark{
    background-color: var(--dark-color);
    color: var(--dark-font);
}
.list{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.main-container{
    display: flex;
    gap:1rem;
    height: 100vh;
}
.main-container .sidebar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-basis: 6%;
}
.sidebar .sidebar-logo{
    position: fixed;
    top:2.8rem;
    font-size: 28px;
    color: var(--font-color);
}
.main-container .sidebar .sidebar-content .icons{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    font-size: 28px;
    gap:2.5rem;
}
.main-container .sidebar .sidebar-content .icons i{
    color: var(--font-color);
}
.main-box{
    display: flex;
    flex-direction: column;
    flex-basis: 65%;
    gap:1.5rem;
    padding: 1.5rem 0 0 0 ;
}
.navbar{
    display: flex;
    gap:3rem;
    justify-content: center;
    align-items: center;
    height: 8%;
}
.navbar h3{
    font-size: 1.8rem;

}
.navbar input{
    /* background-image: url('/assets/img/magnifying-glass-solid.svg');
    background-position: 7px 7px;
    background-repeat: no-repeat; */
    width: 80%;
    padding: 0.6rem 1rem;
    font-size: 1.2rem;
    outline: none;
    border: none;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.main-box .main-display{
    display: flex;
    gap:1.3rem;
    border-radius: 30px;
    flex-direction: column;
    padding: 1.4rem 2.2rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 88%;
    background-color: var(--main-color);
}
.main-display{
    background-color: var(--main-color);
}
.main-display .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.2rem;
    color: #000;
}
.header h3{
    font-size: 1.6rem;
    font-weight: 600;
}
.project{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.project-detail{
    display: flex;
    gap:1.3rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.detail h3{
    font-size: 2rem;
    margin-bottom: 0.3rem;
    font-weight: 600;
    color: #000
}
.detail p{
    color: var(--p-color);
}
.detail-type{
    display: flex;
    gap:1.2rem;
    font-size: 28px;
    color: #000;
}
.detail-type i{
    cursor: pointer;
}
.projects-display{
    display: flex;  
    gap:1rem;
    flex-wrap: wrap;
    scroll-behavior: smooth;
    overflow-y: auto;
    padding:1rem;
    height: 80%;
    justify-content: center;
}
.projects-display .card:nth-child(1){
    background-color: #F24C4C55;
}
.projects-display .card:nth-child(1) .time{
    color: #F24C4C;
}
.projects-display .card:nth-child(2){
    background-color: #00FFAB40;
}
.projects-display .card:nth-child(2) .time{
    color: #14C38E;
}
.projects-display .card:nth-child(3){
    background-color: #242F9B40;
}
.projects-display .card:nth-child(3) .time{
    color: #2E0249;
}
.projects-display .card:nth-child(4){
    background-color: #F73D9340;
}
.projects-display .card:nth-child(4) .time{
    color: #F73D93;
}
.projects-display .card:nth-child(5){
    background-color: #F9D92340;
}
.projects-display .card:nth-child(5) .time{
    color: orange;
}
.projects-display .card:nth-child(6){
    background-color: #A85CF940;
}
.projects-display .card:nth-child(6) .time{
    color: #A85CF9;
}
.projects-display .project-box {  
    width: 30%;  
}  
.project-box {  
    --main-color-card: #dbf6fd;  
    border-radius: 30px;  
    padding: 16px;  
    background-color: var(--main-color-card);  
    height: fit-content;
}  
.project-box-header {  
    display: flex;  
    align-items: center;  
    justify-content: space-between;  
    margin-bottom: 16px;  
    color:#000;  
}  
.project-box-header span {  
    color: #4a4a4a;  
    opacity: 0.7;  
    font-size: 14px;  
    line-height: 16px;  
}  
.project-box-content-header {  
    text-align: center;  
    margin-bottom: 16px;  
}  
.project-box-content-header p {  
    margin: 0;  
    color: #000;
}  
.project-box-wrapper {  
    padding: 8px;  
    transition: 0.2s;  
}  
.project-btn-more {  
    padding: 0;  
    height: 14px;  
    width: 24px;  
    height: 24px;  
    position: relative;  
    background-color: transparent;  
    border: none;  
    flex-shrink: 0;  
}  
.more-wrapper {  
    position: relative;  
}  
.box-content-header {  
    font-size: 16px;  
    line-height: 24px;  
    font-weight: 700;  
    opacity: 0.7;  
}  
.box-content-subheader {  
    font-size: 14px;  
    line-height: 24px;  
    opacity: 0.7;  
}  
.box-progress {  
    display: block;  
    height: 4px;  
    border-radius: 6px;  
}  
.box-progress-bar {  
    width: 100%;  
    height: 4px;  
    border-radius: 6px;  
    overflow: hidden;  
    background-color: #fff;  
    margin: 8px 0;  
}  
.box-progress-header {  
    font-size: 14px;  
    font-weight: 700;  
    line-height: 16px;  
    margin: 0;  
    color: #000;
}  
.box-progress-percentage {  
    text-align: right;  
    margin: 0;  
    font-size: 14px;  
    font-weight: 700;  
    line-height: 16px;  
    color: #000;
}  
.project-box-footer {  
    display: flex;  
    justify-content: space-between;  
    padding-top: 16px;  
    position: relative;  
}  
.project-box-footer:after {  
    content: '';  
    position: absolute;  
    background-color: rgba(255, 255, 255, 0.6);  
    width: calc(100% + 32px);  
    top: 0;  
    left: -16px;  
    height: 1px;  
}  
.participants {  
    display: flex;  
    align-items: center;  
}    
.add-participant {  
    width: 20px;  
    height: 20px;  
    border-radius: 50%;  
    border: none;  
    background-color: rgba(255, 255, 255, 0.6);  
    margin-left: 6px;  
    display: flex;  
    justify-content: center;  
    align-items: center;  
    padding: 0;  
}  
.days-left {  
    background-color: rgba(255, 255, 255, 0.6);  
    font-size: 12px;  
    border-radius: 20px;  
    flex-shrink: 0;  
    padding: 6px 16px;  
    font-weight: 700;  
}  
.contacts{
    display: flex;
    flex-direction: column;
    gap:2rem;
    padding: 1.5rem;
    flex-basis: 29%;
}
.topbar{
    display: flex;
    gap:1.2rem;
    justify-content: end;
}
.topbar .icon{
    display: flex;
    gap:0.8rem;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
.topbar .icon i{
    cursor: pointer;
}
.topbar .icon i:nth-child(2){
    border-radius: 100%;
    color: var(--dark-font);
    background-color: var(--dark-color);
    padding: 0.5rem;
    font-size: 1rem;
}
.topbar .owner{
    display: flex;
    gap:0.5rem;
    padding-left: 1rem;
    border-left: 3px solid var(--p-color);
    justify-content: center;
    align-items: center;
}
.owner img{
    width: 40px;
    height: 40px;
    border-radius: 100%;
}
.owner p{
    font-weight: 600;
    font-size: 1.2rem;
}

.messages{
    display: flex;
    flex-direction: column;
    gap:1rem;
    overflow-y: scroll;
    background-color:var(--main-color);
    padding: 10px;
    margin-top: 1.2rem;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px ;
}
.messages h3{
    position: sticky;
    top: 0;
    z-index: 1;
    padding: 32px 24px 32px 24px;
    background-color: var(--projects-section);
    font-size: 24px;
    font-weight: 700;
    margin: 0;
    line-height: 32px;
    border-bottom: 3px solid #000;
    color: #000;
}
.card-message{
    display: flex;
    gap:0.5rem;
    border-bottom: 2px solid #000;
}.card-message .logo{
    display: flex;
    flex-basis: 5%;
    justify-content: center;
    align-content: center;
}
.card-message .logo img{
    width: 40px;
    height:40px;
    border-radius: 100%;
    margin-right: 8px;
}
.card-message .content{
    display: flex;
    flex-direction: column;
    flex-basis: 90%;
    margin-bottom: 0.7rem;
    padding-right: 1rem;
}
.card-message .content .up{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.8rem;
}
.card-message .content .up i{
    font-size: 24px;
    cursor: pointer;
    color: #000;
}
.card-message .content .up h2{
    font-size: 1.4rem;
    font-weight: 600;
    color: #000;
}
.card-message .content .bottom p:nth-child(1){ 
    margin-bottom: 0.7rem;
    font-weight: 700;
}
.card-message .content .bottom p:nth-child(2){
    text-align: right;
    font-weight: 800;
    color: var(--p-color);
}
.card-message .content .bottom{
    font-size: 14px;
    color: #4a4a4a;
}
.message-button{
    position: sticky;
    top:2rem;
    text-align: right;
    margin: 0;
    cursor: pointer;
}
.message-button i{
    padding: 4px;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 5px;
}
@media (max-width:990px){
    .main-container{
        flex-direction: column;
        padding: 0.5rem;
    }
    .main-container .sidebar{
        display: none;
    }
    .main-box{
        padding: 10px;
    }
    .projects-display .project-box{
        width: 48%;
    }
    .project{
        justify-content: space-between;
    }
    .message-button{
        display: block;
    }

}
@media (max-width:576px) {
    .projects-display .project-box{
        width: 100%;
    }
    .navbar input{
        display: none;
    }
    .navbar{
        height: fit-content;
    }
    .project{
        justify-content: space-between;
    }
    .project-detail{
        gap:1rem;
    }
    .message-button{
        display: block;
    }
    
}